<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="LongDate,Date,Time,Extension,Size" />
    <staticContent>
      <mimeMap fileExtension=".md" mimeType="text/markdown" />
      <mimeMap fileExtension=".ps1" mimeType="text/plain" />
      <mimeMap fileExtension=".psm1" mimeType="text/plain" />
      <mimeMap fileExtension=".psd1" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>